doctype
html(lang="en")
  include ../includes/header
  body
    #layout
      a(href="#menu" id="menuLink" class="menu-link")
        span
      #menu
        include ../includes/menu
        +menu("mappers")
      #main
        .content
          form.pure-form.pure-form-stacked(name="mappers" action="/mappers/update" method="POST")
            fieldset
            legend Create a new mapper
            label(for="key1") Key 1
            input.pure-input-2-3(type="text" id="key1" name="key" value=mapper.key[0])
            label(for="key2") Key 2
            input.pure-input-2-3(type="text" id="key2" name="key" value=mapper.key[1])
            label(for="key3") Key 3
            input.pure-input-2-3(type="text" id="key3" name="key" value=mapper.key[2])
            label(for="value") Value
            input(type="text" id="value" name="value" value=mapper.value)
            label(for="category") Category
            select(id="category" name="category")
              each val in ["TEXT", "FIELD", "TRANSCODING", "SWAP", "SEGMENT", "JOIN", "NUMERIC","CONTACT", "AFTER_SWAP", "DATE", "SUBSTRING"]
                if (val == mapper.category)
                  option(selected)= val
                else
                  option= val
            input(type="hidden" name="id" value=mapper.id)
            button.pure-button.pure-button-primary(type="submit") Update

  include ../includes/footer